<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infoverse</title>
    <link rel="stylesheet" href="/styles/main.css">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <h1>InfoVerse</h1>
    </header>
    
    <div class="flex-container">
        <div class="api-card">
        <h1>Holiday Calendar</h1>
        <% content.response.holidays.forEach(holiday => { %>
        
                <h2><%= holiday.name %></h2>
                <p><%= holiday.date.iso %></p>
                <p>Type: <%= holiday.type %></p>
                <p><%= holiday.description %></p>
    <% }); %>
        </div>
        <div class="api-card">
            <h1>Weather in <span id="city"><%= city %></span></h1>
            <div class="weather-widget">
                <div id="weather-icon"><img src="<%= iconURL %>" height="100"  alt="Weather Icon"></div>
                <h2 id="temperature"><%= temperature %>°C</h2>
                <p id="description">Feels Like : <%= feelslike %>°C</p>
                <p id="description"><%= description %></p>
                <p id="humidity"><%= humidity %></p>
                <p id="wind"><%= wind %></p>
            </div>
        </div>
        <div class="api-card">
            <div class="currency-converter">
                <h1>Currency Exchange Rates</h1>
                <div class="exchange-rates">
                    <h2>1 EUR</h2>
                    <ul>
                        <% Object.entries(exchangeRates).forEach(([currency, rate]) => { %>
                            <li><strong><%= currency %></strong>: <%= rate.toFixed(4) %></li>
                        <% }); %>
                    </ul>
                </div>
            </div>
        </div>

        <!-- You can add more API cards here with real data from your API -->
    </div>
</body>
<footer>
    <p>&copy; 2023 Karthik Sudarsan</p>
</footer>
</html>